@font-face {
    font-family: 'Casino';
    src: URL('./casino-font/Casino.ttf') format('truetype');
}

body {
    font-family: 'Casino';
    margin: 50px;
    background-color: black;
}

h1 {
    color: white;
    font-size: 144px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    max-width: 330px;
}

.form-control {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 2px;
    }
    h1 {
        font-size: 72px;
    }
}
